extends fo_layout.pug

block content
    //- // Body
    #main
        .container-fluid
            #main.card.main

                .card-body

                    form#formAccountSettings(method='post' action="/fo/approve/?id="+produce._id )
                        .row



                            .mb-3.col-md-4.input-field
                                label.form-label(for='status') Status
                                select#status.select2.form-select(name="status")
                                    option(value='pending' selected=produce.status==="pending") Pending
                                    option(value='approved' selected=produce.status==="approved") Approved


                        .mt-2
                            button.btn.btn-success.me-2(type='submit')
                                | Save changes
                            a.btn.btn-outline-danger(href="/fo/products") Cancel