extends fo_layout.pug 

block content 
    .container-fluid.mt-3
        select.form-select.mb-3
            option(value="") Apply filter
            option(value="farmerone") Farmer One
            option(value="urbanfarmer") Urban Farmer 
            //- option(value="generalpublic") General Public 


        table.table
            thead
                tr
                    th(scope='col') #
                    th(scope='col') Name
                    th(scope='col') Unique ID
                    th(scope='col') Email
                    th(scope='col') Phone 
                    th(scope='col') Gender
                    th(scope='col') Role
                    th(scope='col') Ward 
                    th(scope='col') Activity

            tbody
                tr
                    th(scope='row') 1
                    td John Doe
                    td NWCM8733JD
                    td johndoe@email.com
                    td +256704222333
                    td Male 
                    td Farmer One 
                    td North
                    td Horticulture

                tr
                    th(scope='row') 2
                    td John Doe
                    td NWCM8733JD
                    td johndoe@email.com
                    td +256704222333
                    td Male 
                    td  Urban Farmer
                    td East
                    td Horticulture
                tr
                    th(scope='row') 3
                    td John Doe
                    td NWCM8733JD
                    td johndoe@email.com
                    td +256704222333
                    td Male 
                    td Urban Farmer
                    td West
                    td Horticulture 
                tr
                    th(scope='row') 4
                    td John Doe
                    td NWCM8733JD
                    td johndoe@email.com
                    td +256704222333
                    td Male 
                    td General Public 
                    td South
                    td Horticulture

