doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Unauthorized Access
        link(href="/bootstrapcss/bootstrap.min.css" rel="stylesheet")
        link(href="/css/404.css" rel="stylesheet")

    body 
        .container-fluid
            .row 
                .col-4 
                .col-4 
                    .img
                        img(src="/images/403.jpg" alt="" srcset="" )
                .col-4 
            //- <a href="https://www.freepik.com/free-vector/page-found-with-people-connecting-plug-concept-illustration_7938315.htm?query=403">Image by storyset</a> on Freepik
            .text-center
                a.btn.btn-outline-success.mx-2(href="/") Go back Home 
