doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Sign in &amp; Sign up Form
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css')
    link(rel='stylesheet' href='/css/login_form.css')

.container
    .forms-container
        .signin-signup
            form.sign-in-form(action='/login' method="post")
                h2.title Agro-Indi
                .input-field
                    i.fas.fa-user
                    input(type='text' placeholder='Unique ID' name="uniquenumber" )
                .input-field
                    i.fas.fa-lock
                    input(type='password' placeholder='Password' name="password")

                button.btn.solid(type='submit') Login
                p.social-text Or Sign in with social platforms
                .social-media
                    a.social-icon(href='#')
                        i.fab.fa-facebook-f
                    a.social-icon(href='#')
                        i.fab.fa-twitter
                    a.social-icon(href='#')
                        i.fab.fa-google
                    a.social-icon(href='#')
                        i.fab.fa-linkedin-in
            form.sign-up-form(action='/signup' method='post')
                h2.title Agro-Indi

                .input-field
                    i.fas.fa-user
                    input.form-control(type='text' placeholder='Username' name="uniquenumber" pattern="[a-zA-Z0-9-_]{4,24}" title="Username contains only letters a-z,A-Z,0-9,-,_ and no spaces" required)

                .input-field
                    i.fas.fa-envelope
                    input(type='email' placeholder='example@email.com' name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,}$" title="Please give valid email: example@email.com" required)
                .input-field
                    i.fas.fa-lock
                    input(type='text' placeholder='712345678' name="phonenumber" pattern="7\\d\\d\\d\\d\\d\\d\\d\\d" title="Remove the starting 0 from mobile number.eg: 712345678" required)
                .input-field
                    i.fas.fa-lock
                    input(type='text' value="Customer" name="role" readonly)
                .input-field
                    i.fas.fa-lock
                    input(type='password' placeholder='Password' name="password" pattern="(?=.*\\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 6 or more characters" required)
                button.btn.solid(type='submit') Sign up
                p.social-text Or Sign up with social platforms
                .social-media
                    a.social-icon(href='#')
                        i.fab.fa-facebook-f
                    a.social-icon(href='#')
                        i.fab.fa-twitter
                    a.social-icon(href='#')
                        i.fab.fa-google
                    a.social-icon(href='#')
                        i.fab.fa-linkedin-in
    .panels-container
        .panel.left-panel
            .content
                h3 New here ?
                p Sign Up now to start enjoying the Agro-Indi online Market
                button#sign-up-btn.btn.transparent Sign up
            img.image(src='/images/vertical.png' alt='')
        .panel.right-panel
            .content
                h3 One of us ?
                p
                    | Sign In with your account details to continue shopping with in the Agro-Indi
                    | Market
                button#sign-in-btn.btn.transparent Sign in
            img.image(src='/images/basket(2).png' alt='')
script(src='/js/login_form.js')
