@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

:root {
	--background-color: #2b7a0b;
	--button-color: #5bb318;
	--secondary-color: #7dce13;
	--primary-color: #eae509;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
input {
	font-family: "Poppins", sans-serif;
}

/* Nav Bar */
nav {
	z-index: 1;
	background-color: white;
}
nav a .material-icons-outlined {
	font-size: 25px;
	color: rgba(0, 0, 0, 0.685);
	transition: 300ms all;
}

nav a .material-icons-outlined:hover {
	font-size: 30px;
	color: #5bb318;
	font-weight: bold;
}

.nav-link {
	color: #000000a1;
	transition: 300ms all;
}
.nav-link:hover {
	color: #5bb318;
	font-size: large;
	font-weight: bold;
}

.navbar-toggler {
	color: #2b7a0b;
}

/* Carousel */
/* Hero */

.wrapper-hero {
	height: 100vh;
}
.hero {
	position: absolute;
	top: -8%;
	overflow: hidden;
}

.hero .row img {
	height: 50%;
	width: 50%;
	object-fit: cover;
}

.hero .row .content {
	position: absolute;
	top: 50%;
	left: 80px;
	transform: translateY(-50%);
}

.hero .row .content h1 {
	line-height: 1.2;
	font-size: 3rem;
	font-weight: 600;
}

.hero .row .content span {
	color: var(--primary-color);
	font-size: 3.5rem;
}

.hero .row .content p {
	margin: 1rem 0 1rem;
	width: 70%;
}

.hero .row .content a {
	display: inline-block;
	color: var(--primary-color);
	background-color: var(--background-color);
	border-radius: 5px;
	padding: 0.5rem 1.5rem;
	margin-top: 2rem;
	text-decoration: none;
}

.carousel-item .content h1 {
	animation: movebottom 1s ease-in-out;
}

.carousel-item .content a {
	animation: movetop 1s ease-in-out;
}

.carousel-item .content p {
	animation: moveleft 1s ease-in-out;
}

@keyframes movebottom {
	0% {
		transform: translateY(-100px);
		opacity: 0;
	}

	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}

@keyframes movetop {
	0% {
		transform: translateY(100px);
		opacity: 0;
	}

	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}

@keyframes moveleft {
	0% {
		transform: translateX(-100px);
		opacity: 0;
	}

	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}

.hero .arrows {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	z-index: 10;
	opacity: 0;
	visibility: hidden;
	transition: all 500ms ease-out;
}

.hero:hover .arrows {
	opacity: 1;
	visibility: visible;
}

.arrows .carousel-control-prev .material-icons-outlined,
.arrows .carousel-control-next .material-icons-outlined {
	position: absolute;
	padding: 0.1rem 0.1rem;
	background-color: var(--background-color);
	border-radius: 5px;
	color: var(--primary-color);
	cursor: pointer;
}

.arrows .carousel-control-prev .material-icons-outlined {
	left: 20px;
}

.arrows .carousel-control-next .material-icons-outlined {
	right: 30px;
}

/* title */
.title h2::before {
	position: absolute;
	content: "";
	width: 4px;
	height: 50px;
	background-color: var(--background-color);
	left: -20px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

/* collections */

.active-filter-btn {
	background-color: var(--background-color) !important;
	color: var(--button-color) !important;
	border-color: var(--background-color) !important;
}
.filter-button-group .btn:hover {
	color: var(--button-color) !important;
}
.collection-img span {
	top: 20px;
	right: 20px;
	width: 46px;
	height: 46px;
	border-radius: 50%;
}

.collection-img img {
	transition: all 500ms ease-in-out;
}

.collection-img img:hover {
	transform: scale(1.2);
}

/* Banners Offer */
#offers {
	background-image: url(../images/istockphoto-1155240471-1024x1024.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: -10rem;
}
#offers .row {
	max-height: 60vh;
}

.offers-content span {
	color: #2b7a0b;
	font-size: 1.5rem;
	font-weight: 600;
}
.offers-content h2 {
	font-size: 5rem;
	color: #ffffff;

	/* font-family: var(--lg-font); */
}
.offers-content .btn {
	/* border-color: transparent !important; */
	background-color: #2b7a0b;
	color: white;
}

/* Featured Prods */
.featured {
	position: relative;
	margin: auto;
}
.featured button {
	color: #2b7a0b;
	background-color: #2b7a0b;
	width: 1.5rem;
	visibility: hidden;
	position: absolute;
	top: -5px;
	height: 1.5rem;
	border-radius: 20px;
}

.featured:hover button {
	visibility: visible;
}
.featured-img {
	position: relative;
}
.featured-img .addCart {
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 0.5rem;
	border-radius: 50%;
	background-color: rgb(255, 255, 255);
	box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.15);
	transition: all 300ms ease-in-out;
}

.featured-img:hover .addCart {
	border-radius: 1rem 0 0 0;
}
.featured-img .addCart:hover {
	background-color: #5bb318;
	color: white;
}

.featured-img .side-icons {
	position: absolute;
	right: 5px;
	top: 1rem;
	display: flex;
	flex-direction: column;
	transform: translate(70%, 0%);
	transition: all 500ms ease-in-out;
	visibility: hidden;
}

.featured-img:hover .side-icons {
	transform: translate(0%, 0%);
	visibility: visible;
}

.featured-img .side-icons span {
	padding: 0.5rem;
	font-size: 1.2rem;
}

.featured-img .side-icons span:hover {
	color: white;
	background-color: #5bb318;
	border-radius: 50%;
}

/* Products */
/* PRODUCTS */
.product {
	overflow: hidden;
}

.product .img-container {
	position: relative;
	cursor: pointer;
	width: 15rem;
	height: auto;
}

.product .img-container img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.product .bottom {
	padding: 1rem;
	text-align: center;
}

.product .bottom a {
	margin-bottom: 1rem;
	/* font-weight: inherit; */
	font-size: 0.8rem;
}

.product .bottom a:hover {
	color: #5bb318;
}

.product .bottom span {
	color: #2b7a0b;
	font-size: 1.2rem;
}

.product .bottom .cancel {
	font-size: 1rem;
	color: var(--grey2);
	text-decoration: line-through;
}

.product .addCart {
	position: absolute;
	right: 0;
	bottom: 0.6rem;
	font-size: 1.2rem;
	background-color: white;
	border-radius: 50%;
	padding: 0.8rem 0.8rem;
	box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.15);
	transition: all 300ms ease-in-out;
}

.product:hover .addCart {
	border-radius: 1rem 0 0 0;
}

.product .addCart:hover {
	background-color: #5bb318;
	color: white;
}

.product span {
	transition: all 300ms ease-in-out;
}

.product .side-icons {
	position: absolute;
	right: 0;
	top: 0;
	transform: translate(100%, -100%);
	display: flex;
	flex-direction: column;
	padding: 0.5rem;
	visibility: hidden;
	transition: all 500ms ease-in-out;
}

.product .side-icons span {
	font-size: 1.2rem;
	background-color: var(--white);
	margin: 0.1rem;
	padding: 0.5rem 0.5rem;
	border-radius: 50%;
	transition: all 300ms ease-in-out;
}

.product .side-icons span:hover {
	background-color: #5bb318;
	color: white;
}

.product:hover .side-icons {
	transform: translate(20%, 0%);
	visibility: visible;
}

/* ADVERTS */
/* .advert .advert-layout {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 3rem;
} */

.advert-layout .item {
	position: relative;
	/* z-index: 0; */
	width: 100%;
	overflow: hidden;
}

.advert-layout img {
	object-fit: cover;
	height: 100%;
	width: 100%;
	transition: all 300ms ease-in-out;
}

.advert-layout .content {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
}

.advert-layout .left {
	right: 10%;
}

.advert-layout .right {
	left: 10%;
}

.advert-layout .content span {
	display: block;
	margin-bottom: 1rem;
	transition: all 300ms ease-in-out;
}

.advert-layout .content h3 {
	font-size: 1.6rem;
	font-weight: 700;
	margin-bottom: 1rem;
	transition: all 300ms ease-in-out;
}

.advert-layout .content a {
	transition: all 300ms ease-in-out;
	text-decoration: none;
}

.advert-layout .content a:hover {
	color: var(--primary);
}

.advert-layout .item::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: all 300ms ease-in-out;
}

.advert-layout .item:hover::after {
	background-color: rgba(74, 223, 82, 0.4);
}

.advert-layout .item:hover .content {
	color: var(--white);
}

.advert-layout .item:hover .content a {
	color: var(--white);
}

.advert-layout .item:hover img {
	transform: scale(1.1);
}

/* About */
#about {
	background-color: #867f7f0a;
}

/* Counter */
.counter {
	display: flex;
	justify-content: center;
	align-items: center;
	content: "";
	height: 100px;
	/* background-color: #2a7a0b59; */
}
.counter p {
	font-size: 5rem;
	font-weight: bolder;
	background: -webkit-linear-gradient(-40deg, var(--background-color), rgb(255, 94, 0));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* newsletter */
#newsletter {
	background-color: rgba(179, 179, 179, 0.05);
}
#newsletter p {
	max-width: 600px;
}
#newsletter .input-group {
	max-width: 500px;
}
#newsletter .form-control {
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
}
#newsletter .btn {
	background-color: #5bb318;
	color: #fff;
	border-color: #2b7a0b;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}
#newsletter .btn:hover {
	background-color: #000;
	border-color: #000;
}

/* footer */
footer .brand {
	letter-spacing: 10px;
	font-size: 2rem;
}
footer a {
	-webkit-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}
footer a:hover {
	color: #7dce13 !important;
}
