extends gp_layout.pug 

block content 
    //- // Hero
    section.wrapper-hero#header
        .hero
            .row
                #hero.carousel.slide(data-bs-ride='carousel')
                    .carousel-inner
                        .carousel-item.active
                            img.d-block.w-100(src='/images/hero-1.png' alt='...')
                            .content
                                h1
                                    | Super market vegbox
                                    br
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;start from
                                    span $9
                                p
                                    | Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                    | Corrupti ad natus facilis magni corporis alias.
                                a(href='#') Shop Now
                        .carousel-item
                            img.d-block.w-100(src='/images/hero-2.png' alt='...')
                            .content
                                h1
                                    | You first Order
                                    br
                                    span 20% off
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;at Juice
                                p
                                    | Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                    | Corrupti ad natus facilis magni corporis alias.
                                a(href='#') Shop Now
                        .carousel-item
                            img.d-block.w-100(src='/images/hero-3.png' alt='...')
                            .content
                                h1
                                    | You first Order
                                    br
                                    span 20% off
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;at Juice
                                p
                                    | Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                    | Corrupti ad natus facilis magni corporis alias.
                                a(href='#') Shop Now
                    // Carousel Navigation
                    .arrows
                        button.carousel-control-prev(type='button' data-bs-target='#hero' data-bs-slide='prev')
                            span.material-icons-outlined  chevron_left 
                            span.visually-hidden Previous
                        button.carousel-control-next(type='button' data-bs-target='#hero' data-bs-slide='next')
                            span.material-icons-outlined  chevron_right 
                            span.visually-hidden Next
    // end of hero
    // Collections
    section#collection.py-5.mt-5
        .container
            .title.text-center
                h2.position-relative.d-inline-block Our Collection
            .row.g-0
                .d-flex.flex-wrap.justify-content-center.mt-4.filter-button-group
                    button.btn.m-2.text-dark.active-filter-btn(type='button' data-filter='*')
                        | All
                    button.btn.m-2.text-dark(type='button' data-filter='.best')
                        | Best Sellers
                    button.btn.m-2.text-dark(type='button' data-filter='.feat')
                        | Featured
                    button.btn.m-2.text-dark(type='button' data-filter='.new')
                        | New Arrival
                .collection-list.mt-4.row.gx-0.gy-3
                    .col-md-6.col-lg-4.col-xl-3.p-2.best.items
                        .collection-img.position-relative.overflow-hidden
                            img.w-100(src='/images/product-1.jpg')
                            span.position-absolute.bg-success.text-white.d-flex.align-items-center.justify-content-center sale
                        .text-center
                            .rating.mt-3
                                span.material-icons-outlined  star 
                                span.material-icons-outlined  star 
                                span.material-icons-outlined  star 
                                span.material-icons-outlined  star 
                                span.material-icons-outlined  star 
                            p.text-capitalize.my-1 Mangoes
                            span.fw-bold $ 45.50
                    .col-md-6.col-lg-4.col-xl-3.p-2.feat.items
                        .collection-img.position-relative.overflow-hidden
                            img.w-100(src='/images/product-2.jpg')
                            span.position-absolute.bg-warning.text-white.d-flex.align-items-center.justify-content-center sale
                        .text-center
                            .rating.mt-3
                                span.material-icons-outlined  star 
                                span.material-icons-outlined  star 
                                span.material-icons-outlined  star 
                                span.material-icons-outlined  star 
                                span.material-icons-outlined  star 
                            p.text-capitalize.my-1 Lettuce
                            span.fw-bold $ 45.50
                    .col-md-6.col-lg-4.col-xl-3.p-2.new.items
                        .collection-img.position-relative.overflow-hidden
                            img.w-100(src='/images/product-3.jpg')
                            span.position-absolute.bg-success.text-white.d-flex.align-items-center.justify-content-center sale
                        .text-center
                            .rating.mt-3
                                span.material-icons-outlined  star 
                                span.material-icons-outlined  star 
                                span.material-icons-outlined  star 
                                span.material-icons-outlined  star 
                                span.material-icons-outlined  star_half 
                            p.text-capitalize.my-1 Kiwi
                            span.fw-bold $ 45.50
                    .col-md-6.col-lg-4.col-xl-3.p-2.best.items
                        .collection-img.position-relative.overflow-hidden
                            img.w-100(src='/images/product-4.jpg')
                            span.position-absolute.bg-success.text-white.d-flex.align-items-center.justify-content-center sale
                        .text-center
                            .rating.mt-3
                                span.material-icons-outlined  star 
                                span.material-icons-outlined  star 
                                span.material-icons-outlined  star 
                                span.material-icons-outlined  star 
                                span.material-icons-outlined  star 
                            p.text-capitalize.my-1 Cucumber
                            span.fw-bold $ 45.50
                    .col-md-6.col-lg-4.col-xl-3.p-2.feat.items
                        .collection-img.position-relative.overflow-hidden
                            img.w-100(src='/images/product-5.jpg')
                            span.position-absolute.bg-success.text-white.d-flex.align-items-center.justify-content-center sale
                        .text-center
                            .rating.mt-3
                                span.material-icons-outlined  star 
                                span.material-icons-outlined  star 
                                span.material-icons-outlined  star 
                                span.material-icons-outlined  star 
                                span.material-icons-outlined  star 
                            p.text-capitalize.my-1 Mushrooms
                            span.fw-bold $ 45.50
                    .col-md-6.col-lg-4.col-xl-3.p-2.new.items
                        .collection-img.position-relative.overflow-hidden
                            img.w-100(src='/images/product-6.jpg')
                            span.position-absolute.bg-success.text-white.d-flex.align-items-center.justify-content-center sale
                        .text-center
                            .rating.mt-3
                                span.material-icons-outlined  star 
                                span.material-icons-outlined  star 
                                span.material-icons-outlined  star 
                                span.material-icons-outlined  star_half 
                                span.material-icons-outlined  star_outline 
                            p.text-capitalize.my-1 Cantaloupe
                            span.fw-bold $ 45.50
                    .col-md-6.col-lg-4.col-xl-3.p-2.best.items
                        .collection-img.position-relative.overflow-hidden
                            img.w-100(src='/images/product-7.jpg')
                            span.position-absolute.bg-success.text-white.d-flex.align-items-center.justify-content-center sale
                        .text-center
                            .rating.mt-3
                                span.material-icons-outlined  star 
                                span.material-icons-outlined  star 
                                span.material-icons-outlined  star 
                                span.material-icons-outlined  star 
                                span.material-icons-outlined  star 
                            p.text-capitalize.my-1 Potatoes
                            span.fw-bold $ 45.50
                    .col-md-6.col-lg-4.col-xl-3.p-2.feat.items
                        .collection-img.position-relative.overflow-hidden
                            img.w-100(src='/images/product-8.jpg')
                            span.position-absolute.bg-success.text-white.d-flex.align-items-center.justify-content-center sale
                        .text-center
                            .rating.mt-3
                                span.material-icons-outlined  star 
                                span.material-icons-outlined  star 
                                span.material-icons-outlined  star 
                                span.material-icons-outlined  star 
                                span.material-icons-outlined  star_half 
                            p.text-capitalize.my-1 Spinach
                            span.fw-bold $ 45.50
    // end of collection
    // Banner
    section#offers.py-5.mt-5
        .container
            .row.d-flex.align-items-center.justify-content-center.text-center.justify-content-lg-start.text-lg-start
                .offers-content
                    span Discount Up To 40%
                    h2.mt-2.mb-4 Grand Sale Offer!
                    a.btn(href='#') Buy Now
    // end of banner
    // featured slider
    section#special.featured.py-5.container-fluid
        .title.text-center
            h2.position-relative.d-inline-block Featured Products
            p.mt-4 Select from the premium product brands and save plenty money
        #featured.carousel.slide.py-3(data-bs-ride='carousel')
            .carousel-inner
                .carousel-item.active
                    .row
                        .col-2.featured-img
                            img.d-block.w-100(src='/images/product-1.png' alt='...')
                            .addCart
                                span.material-icons-outlined  shopping_cart 
                            ul.side-icons
                                span.material-icons-outlined  search 
                                span.material-icons-outlined  favorite_border 
                                span.material-icons-outlined  tune 
                        .col-2.featured-img
                            img.d-block.w-100(src='/images/product-2.png' alt='...')
                            .addCart
                                span.material-icons-outlined  shopping_cart 
                            ul.side-icons
                                span.material-icons-outlined  search 
                                span.material-icons-outlined  favorite_border 
                                span.material-icons-outlined  tune 
                        .col-2.featured-img
                            img.d-block.w-100(src='/images/product-10.jpg' alt='...')
                            .addCart
                                span.material-icons-outlined  shopping_cart 
                            ul.side-icons
                                span.material-icons-outlined  search 
                                span.material-icons-outlined  favorite_border 
                                span.material-icons-outlined  tune 
                        .col-2.featured-img
                            img.d-block.w-100(src='/images/product-1.jpg' alt='...')
                            .addCart
                                span.material-icons-outlined  shopping_cart 
                            ul.side-icons
                                span.material-icons-outlined  search 
                                span.material-icons-outlined  favorite_border 
                                span.material-icons-outlined  tune 
                        .col-2.featured-img
                            img.d-block.w-100(src='/images/product-13.jpg' alt='...')
                            .addCart
                                span.material-icons-outlined  shopping_cart 
                            ul.side-icons
                                span.material-icons-outlined  search 
                                span.material-icons-outlined  favorite_border 
                                span.material-icons-outlined  tune 
                        .col-2.featured-img
                            img.d-block.w-100(src='/images/product-12.jpg' alt='...')
                            .addCart
                                span.material-icons-outlined  shopping_cart 
                            ul.side-icons
                                span.material-icons-outlined  search 
                                span.material-icons-outlined  favorite_border 
                                span.material-icons-outlined  tune 
                .carousel-item
                    .row
                        .col-2.featured-img
                            img.d-block.w-100(src='/images/product-10.jpg' alt='...')
                            .addCart
                                span.material-icons-outlined  shopping_cart 
                            ul.side-icons
                                span.material-icons-outlined  search 
                                span.material-icons-outlined  favorite_border 
                                span.material-icons-outlined  tune 
                        .col-2.featured-img
                            img.d-block.w-100(src='/images/product-10.jpg' alt='...')
                            .addCart
                                span.material-icons-outlined  shopping_cart 
                            ul.side-icons
                                span.material-icons-outlined  search 
                                span.material-icons-outlined  favorite_border 
                                span.material-icons-outlined  tune 
                        .col-2.featured-img
                            img.d-block.w-100(src='/images/product-10.jpg' alt='...')
                            .addCart
                                span.material-icons-outlined  shopping_cart 
                            ul.side-icons
                                span.material-icons-outlined  search 
                                span.material-icons-outlined  favorite_border 
                                span.material-icons-outlined  tune 
                        .col-2.featured-img
                            img.d-block.w-100(src='/images/product-10.jpg' alt='...')
                            .addCart
                                span.material-icons-outlined  shopping_cart 
                            ul.side-icons
                                span.material-icons-outlined  search 
                                span.material-icons-outlined  favorite_border 
                                span.material-icons-outlined  tune 
                        .col-2.featured-img
                            img.d-block.w-100(src='/images/product-10.jpg' alt='...')
                            .addCart
                                span.material-icons-outlined  shopping_cart 
                            ul.side-icons
                                span.material-icons-outlined  search 
                                span.material-icons-outlined  favorite_border 
                                span.material-icons-outlined  tune 
                        .col-2.featured-img
                            img.d-block.w-100(src='/images/product-10.jpg' alt='...')
                            .addCart
                                span.material-icons-outlined  shopping_cart 
                            ul.side-icons
                                span.material-icons-outlined  search 
                                span.material-icons-outlined  favorite_border 
                                span.material-icons-outlined  tune 
                .carousel-item
                    .row
                        .col-2.featured-img
                            img.d-block.w-100(src='/images/product-11.jpg' alt='...')
                            .addCart
                                span.material-icons-outlined  shopping_cart 
                            ul.side-icons
                                span.material-icons-outlined  search 
                                span.material-icons-outlined  favorite_border 
                                span.material-icons-outlined  tune 
                        .col-2.featured-img
                            img.d-block.w-100(src='/images/product-14.jpg' alt='...')
                            .addCart
                                span.material-icons-outlined  shopping_cart 
                            ul.side-icons
                                span.material-icons-outlined  search 
                                span.material-icons-outlined  favorite_border 
                                span.material-icons-outlined  tune 
                        .col-2.featured-img
                            img.d-block.w-100(src='/images/product-11.jpg' alt='...')
                            .addCart
                                span.material-icons-outlined  shopping_cart 
                            ul.side-icons
                                span.material-icons-outlined  search 
                                span.material-icons-outlined  favorite_border 
                                span.material-icons-outlined  tune 
                        .col-2.featured-img
                            img.d-block.w-100(src='/images/product-11.jpg' alt='...')
                            .addCart
                                span.material-icons-outlined  shopping_cart 
                            ul.side-icons
                                span.material-icons-outlined  search 
                                span.material-icons-outlined  favorite_border 
                                span.material-icons-outlined  tune 
                        .col-2.featured-img
                            img.d-block.w-100(src='/images/product-11.jpg' alt='...')
                            .addCart
                                span.material-icons-outlined  shopping_cart 
                            ul.side-icons
                                span.material-icons-outlined  search 
                                span.material-icons-outlined  favorite_border 
                                span.material-icons-outlined  tune 
                        .col-2.featured-img
                            img.d-block.w-100(src='/images/product-11.jpg' alt='...')
                            .addCart
                                span.material-icons-outlined  shopping_cart 
                            ul.side-icons
                                span.material-icons-outlined  search 
                                span.material-icons-outlined  favorite_border 
                                span.material-icons-outlined  tune 
            button.carousel-control-prev(type='button' data-bs-target='#featured' data-bs-slide='prev')
                span.material-icons-outlined  chevron_left 
                span.visually-hidden Previous
            button.carousel-control-next(type='button' data-bs-target='#featured' data-bs-slide='next')
                span.material-icons-outlined  chevron_right 
                span.visually-hidden Next
    // End of featured slider
    // Products
    section.py-5.container-fluid
        .title.text-center
            h2.position-relative.d-inline-block New Products
            p.mt-4 Select from the premium product brands and save plenty money
        .row.mt-4
            .product.col-3
                .img-container
                    img(src='/images/product-9.jpg' alt='')
                    .addCart
                        span.material-icons-outlined  shopping_cart 
                    ul.side-icons
                        span.material-icons-outlined  search 
                        span.material-icons-outlined  favorite_border 
                        span.material-icons-outlined  tune 
                .bottom
                    a(href='') Bambi Print Mini Backpack
                    .price
                        span $150
            .product.col-3
                .img-container
                    img(src='/images/product-1.jpg' alt='')
                    .addCart
                        span.material-icons-outlined  shopping_cart 
                    ul.side-icons
                        span.material-icons-outlined  search 
                        span.material-icons-outlined  favorite_border 
                        span.material-icons-outlined  tune 
                .bottom
                    a(href='') Mangoes
                    .price
                        span $150
                        span.cancel $160
            .product.col-3
                .img-container
                    img(src='/images/product-2.jpg' alt='')
                    .addCart
                        span.material-icons-outlined  shopping_cart 
                    ul.side-icons
                        span.material-icons-outlined  search 
                        span.material-icons-outlined  favorite_border 
                        span.material-icons-outlined  tune 
                .bottom
                    a(href='') Spinach
                    .price
                        span $150
            .product.col-3
                .img-container
                    img(src='/images/product-4.jpg' alt='')
                    .addCart
                        span.material-icons-outlined  shopping_cart 
                    ul.side-icons
                        span.material-icons-outlined  search 
                        span.material-icons-outlined  favorite_border 
                        span.material-icons-outlined  tune 
                .bottom
                    a(href='') Bambi Print Mini Backpack
                    .price
                        span $150
                        span.cancel $160
            .product.col-3
                .img-container
                    img(src='/images/product-5.jpg' alt='')
                    .addCart
                        span.material-icons-outlined  shopping_cart 
                    ul.side-icons
                        span.material-icons-outlined  search 
                        span.material-icons-outlined  favorite_border 
                        span.material-icons-outlined  tune 
                .bottom
                    a(href='') Bambi Print Mini Backpack
                    .price
                        span $150
            .product.col-3
                .img-container
                    img(src='/images/product-6.jpg' alt='')
                    .addCart
                        span.material-icons-outlined  shopping_cart 
                    ul.side-icons
                        span.material-icons-outlined  search 
                        span.material-icons-outlined  favorite_border 
                        span.material-icons-outlined  tune 
                .bottom
                    a(href='') Bambi Print Mini Backpack
                    .price
                        span $150
            .product.col-3
                .img-container
                    img(src='/images/product-7.jpg' alt='')
                    .addCart
                        span.material-icons-outlined  shopping_cart 
                    ul.side-icons
                        span.material-icons-outlined  search 
                        span.material-icons-outlined  favorite_border 
                        span.material-icons-outlined  tune 
                .bottom
                    a(href='') Bambi Print Mini Backpack
                    .price
                        span $150
                        span.cancel $160
            .product.col-3
                .img-container
                    img(src='/images/product-8.jpg' alt='')
                    .addCart
                        span.material-icons-outlined  shopping_cart 
                    ul.side-icons
                        span.material-icons-outlined  search 
                        span.material-icons-outlined  favorite_border 
                        span.material-icons-outlined  tune 
                .bottom
                    a(href='') Bambi Print Mini Backpack
                    .price
                        span $150
                        span.cancel $160
    // end of products
    // ADVERT
    section.section.advert.container.py-5
        .advert-layout.container.row
            .item.col
                img(src='/images/banner1.jpg' alt='')
                .content.left
                    span Exclusive Sales
                    h3 Spring Collections
                    a(href='') View Collection
            .item.col
                img(src='/images/banner2.jpg' alt='')
                .content.right
                    span New Trending
                    h3 Designer Bags
                    a(href='') Shop Now 
    // end of adverts
    // about us
    section#about.py-5
        .container
            .row.gy-lg-5.align-items-center
                .col-lg-6.order-lg-1.text-center.text-lg-start
                    .title.pt-3.pb-5
                        h2.position-relative.d-inline-block.ms-4 About Us
                    p.lead.text-muted
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, ipsam.
                    p
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem fuga
                        | blanditiis, modi exercitationem quae quam eveniet! Minus labore
                        | voluptatibus corporis recusandae accusantium velit, nemo, nobis, nulla
                        | ullam pariatur totam quos.
                .col-lg-6.order-lg-0
                    img.img-fluid(src='/images/basket.png' alt='')
    // end of about us
    // Count down
    section.count-down.py-5
        .container.title.text-center
            h2.position-relative.d-inline-block Count down to sale
        .counter.mt-4
            p#timer
    // end of count down
    // newsletter
    section#newsletter.py-5
        .container
            .d-flex.flex-column.align-items-center.justify-content-center
                .title.text-center.pt-3.pb-5
                    h2.position-relative.d-inline-block.ms-4
                        | Newsletter Subscription
                p.text-center.text-muted
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus rem
                    | officia accusantium maiores quisquam dolorum?
                .input-group.mb-3.mt-3
                    input.form-control(type='text' placeholder='Enter Your Email ...')
                    button.btn.btn-primary(type='submit') Subscribe
    // end of newsletter
