doctype html
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Dashboard - Agricultural Officer
    //- // Bootstrap
    link(rel='stylesheet' href="/bootstrapcss/bootstrap.min.css")
    //- // Custom CSS
    link(rel='stylesheet' href='/css/ao.css')
    link(rel='stylesheet' href='/css/registration_page.css')
    //- // google material icons cdn -
    link(href='https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp' rel='stylesheet')

//- // ==================== Header Section =======================
header.d-flex.align-items-center.header
    .d-flex.align-items-center.justify-content-between.logo-div
        a.navbar-brand.me-5(href='#')
            img.logo(src='/images/logo.png' alt='')

        span.material-icons-outlined.btn.btn-outline-success.ms-5.icon(type='button' data-bs-toggle='offcanvas' data-bs-target='#offcanvasExample' aria-controls='offcanvasExample')
            | menu
    //- // end of logo

    .ms-auto
        nav.navbar.navbar-expand
            ul.navbar-nav
                li.nav-item.dropdown
                    a.nav-link(href='#' data-bs-toggle='dropdown')
                        span.material-icons-outlined.icon  notifications 
                    ul.dropdown-menu.dropdown-menu-end.dropdown
                        li.dropdown-header
                            | You have 4 new notifications
                            a(href='#')
                                span.badge.rounded-pill.bg-primary.p-2.ms-2 View all
                        li
                            hr.dropdown-divider
                        li.notification-item.d-flex.align-items-center.justify-content-center
                            span.material-icons-outlined.text-warning
                                | error_outline
                            div
                                h4 Lorem Ipsum
                                p Quae dolorem earum veritatis oditseno
                                p 30 min. ago
                        li
                            hr.dropdown-divider
                        li.notification-item.d-flex.align-items-center.justify-content-center
                            span.material-icons-outlined.text-danger
                                | cancel
                            div
                                h4 Atque rerum nesciunt
                                p Quae dolorem earum veritatis oditseno
                                p 1 hr. ago
                        li
                            hr.dropdown-divider
                        li.notification-item.d-flex.align-items-center.justify-content-center
                            span.material-icons-outlined.text-success
                                | check_circle
                            div
                                h4 Sit rerum fuga
                                p Quae dolorem earum veritatis oditseno
                                p 2 hrs. ago
                        li
                            hr.dropdown-divider
                        li.notification-item.d-flex.align-items-center.justify-content-center
                            span.material-icons-outlined.text-primary  info 
                            div
                                h4 Dicta reprehenderit
                                p Quae dolorem earum veritatis oditseno
                                p 4 hrs. ago
                        li
                            hr.dropdown-divider
                        li.dropdown-footer
                            a(href='#') Show all notifications
                    //- // End Notification Dropdown Items
                    //- // end of notifications
                    li.nav-item.dropdown
                        a.nav-link(href='#' data-bs-toggle='dropdown')
                            span.material-icons-outlined.icon  chat 
                        ul.dropdown-menu.dropdown-menu-end.dropdown
                            li.dropdown-header
                                | You have 3 new messages
                                a(href='#')
                                    span.badge.rounded-pill.bg-primary.p-2.ms-2 View all
                            li
                                hr.dropdown-divider
                            li.message-item
                                a.d-flex(href='#')
                                    img.rounded-circle(src='/images/messages-1.jpg' alt='')
                                    div
                                        h4 Maria Hudson
                                        p
                                            | Velit asperiores et ducimus soluta repudiandae
                                            | labore officia est ut...
                                        p 4 hrs. ago
                            li
                                hr.dropdown-divider
                            li.message-item
                                a.d-flex(href='#')
                                    img.rounded-circle(src='/images/messages-2.jpg' alt='')
                                    div
                                        h4 Anna Nelson
                                        p
                                            | Velit asperiores et ducimus soluta repudiandae
                                            | labore officia est ut...
                                        p 6 hrs. ago
                            li
                                hr.dropdown-divider
                            li.message-item
                                a.d-flex(href='#')
                                    img.rounded-circle(src='/images/messages-3.jpg' alt='')
                                    div
                                        h4 David Muldon
                                        p
                                            | Velit asperiores et ducimus soluta repudiandae
                                            | labore officia est ut...
                                        p 8 hrs. ago
                            li
                                hr.dropdown-divider
                            li.dropdown-footer
                                a(href='#') Show all messages
                        //- // End Messages Dropdown Items
                        //- // end of msg
                        li.nav-item.dropdown.pe-3
                            a.nav-link.nav-profile.d-flex.align-items-center.pe-0(href='#' data-bs-toggle='dropdown')
                                img.rounded-circle(src='/images/profile-img.jpg' alt='Profile' height='30')
                                if user
                                    span.d-none.d-md-block.dropdown-toggle.ps-2 #{user.firstname[0]}. #{user.lastname}
                            ul.dropdown-menu.dropdown-menu-end.dropdown
                                li.dropdown-header
                                    h4 #{user.firstname} #{user.lastname}
                                    p Agricultural Officer
                                li
                                    hr.dropdown-divider
                                li
                                    a.dropdown-item.d-flex.align-items-center(href='users-profile.html')
                                        span.material-icons-outlined  person 
                                        span My Profile
                                li
                                    hr.dropdown-divider
                                li
                                    a.dropdown-item.d-flex.align-items-center(href='users-profile.html')
                                        span.material-icons-outlined  settings 
                                        span Account Settings
                                li
                                    hr.dropdown-divider
                                li
                                    a.dropdown-item.d-flex.align-items-center(href='pages-faq.html')
                                        span.material-icons-outlined  help_outline 
                                        span Need Help?
                                li
                                    hr.dropdown-divider
                                li
                                    a.dropdown-item.d-flex.align-items-center(href='#')
                                        span.material-icons-outlined  logout 
                                        span
                                            form(action="/login/logout" method="post")
                                                button.btn(type="submit") Logout
                            //- // End Profile Dropdown Items
                            //- // end of profile
//- // End Header
//- // ================================================ Aside Section========================================================
aside#offcanvasExample.sidebar.offcanvas.offcanvas-start(tabindex='-1' aria-labelledby='offcanvasExampleLabel')
    .offcanvas-header
        a(href='#')
            img(src='/images/logo.png' alt='' height='30')
        button.btn-close(type='button' data-bs-dismiss='offcanvas' aria-label='Close')
    .search.m-3
        form.d-flex
            input.form-control.me-2(type='search' placeholder='Search' aria-label='Search')
            button.btn.btn-outline-success(type='submit') Search
    ul.nav.nav-pills.flex-column.mb-auto.ms-2
        li.d-flex.align-items-center.nav-item
            span.material-icons-outlined.ms-3  speed 
            a.nav-link(href='/ao') Dashboard
        li.d-flex.align-items-center.nav-item
            span.material-icons-outlined.ms-3  group 
            a.nav-link(href='/ao/members') Members
        li.d-flex.align-items-center.nav-item
            span.material-icons-outlined.ms-3  app_registration 
            a.nav-link(href='/ao/register') Register FO
        li.d-flex.align-items-center.nav-item
            span.material-icons-outlined.ms-3  inventory_2 
            a.nav-link(href='/ao/products') Products
        hr
        li.d-flex.align-items-center.nav-item
            span.material-icons-outlined.ms-3  supervised_user_circle 
            a.nav-link(href='/ao/gp') Customers
        li.d-flex.align-items-center.nav-item
            span.material-icons-outlined.ms-3  chat 
            a.nav-link(href='') Messages


block content

//- // Bootstrap Js
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js' integrity='sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p' crossorigin='anonymous')

script(src="/js/register.js") 
//- // <script src="/assets/js/ao.js"></script>
