extends ao_layout.pug

button.btn.btn-primary(type='button' data-bs-toggle='modal' data-bs-target='#exampleModal')
    | Launch demo modal
//-* Modal
#exampleModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
    .modal-dialog.modal-dialog-centered.modal-lg
        .modal-content.w-100
            .modal-body
                .container-fluid.d-flex.flex-sm-row.justify-content-center
                    .body.p-5.d-flex.rounded
                        .img.me-3
                            img.rounded(src='/public/images/chicken.jpg' alt='' srcset='' width='300px' height='300px')
                        .details.ms-3
                            .title
                                h3 Chicken
                                p Organic Chicken
                            .stars.my-2
                                i.bi.bi-star-fill.text-warning
                                i.bi.bi-star-fill.text-warning
                                i.bi.bi-star-fill.text-warning
                                i.bi.bi-star-fill.text-warning
                                i.bi.bi-star-half.text-warning
                            .decription
                                h5 Lorem ipsum dolor sit amet.
                                p
                                    | Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    | Blanditiis soluta odit totam nam maiores in vel,
                                    | doloribus nulla ab esse!
                                p.btn.btn-outline-success.btn-sm Mobile Money
                                p.btn.btn-outline-success.btn-sm Home Delivery
                                p Available
                            .input-group.mb-3
                                span#quantity.input-group-text Units
                                input.form-control(type='number' value='1' aria-label='quantity' aria-describedby='quantity')
                            .price.fw-bold ₹ 20,000/-
                            .my-2
                                button.btn.btn-success(type='button')
                                    | Add to Cart

