extends ao_layout.pug 

block content
    //- // Body
    #main
        .container-fluid
            #main.card.main
                h5.card-header Profile Details
                //- // Account
                .card-body
                    .d-flex.align-items-start.align-items-sm-center.gap-4
                        img#uploadedAvatar.d-block.rounded(src='/images/profile-img.jpg' alt='user-avatar' height='100' width='100')
                        .button-wrapper
                            label.btn.btn-success.me-2.mb-4(for='upload' tabindex='0')
                                span.d-none.d-sm-block Upload new photo
                                span.material-icons-outlined.d-block.d-sm-none
                                    | file_upload
                                input#upload.account-file-input(type='file' hidden='' accept='image/png, image/jpeg')
                            button.btn.btn-outline-danger.account-image-reset.mb-4(type='button')
                                span.material-icons-outlined.d-block.d-sm-none
                                    | restart_alt
                                span.d-none.d-sm-block Reset
                            p.text-muted.mb-0
                                | Allowed JPG, GIF or PNG. Max size of 800K
                hr.my-0
                .card-body
                    form#formAccountSettings(method='POST' onsubmit='return false')
                        .row
                            .mb-3.col-md-4.input-field
                                label.form-label(for='firstName') First Name
                                input#firstName.form-control(type='text' name='firstName' value='' autofocus='' placeholder="John")
                            .mb-3.col-md-4.input-field
                                label.form-label(for='lastName') Last Name
                                input#lastName.form-control(type='text' name='lastName' placeholder='Doe')
                            .mb-3.col-md-4.input-field
                                label.form-label(for='DOB') DOB
                                input#dob.form-control(type='date' name='dob')
                            .mb-3.col-md-4.input-field.row
                                label.form-label(for='gender') Gender
                                .form-check.col.ms-3
                                    input.form-check-input#male(type='radio' name='gender')
                                    label.form-check-label(for="male") Male
                                .form-check.col
                                    input.form-check-input#female(type='radio' name='gender')
                                    label.form-check-label(for="female") Female
                                .form-check.col
                                    input.form-check-input#other(type='radio' name='gender')
                                    label.form-check-label(for="other") Other
                            .mb-3.col-md-4.input-field
                                label.form-label(for='email') E-mail
                                input#email.form-control(type='text' name='email' placeholder='john.doe@example.com')
                            .mb-3.col-md-4.input-field
                                label.form-label(for='phoneNumber') Phone Number
                                .input-group.input-group-merge
                                    span.input-group-text UG (+256)
                                    input#phoneNumber.form-control(type='text' name='phoneNumber' placeholder='704 222 333')
                            .mb-3.col-md-4.input-field
                                label.form-label(for='nin') National ID
                                input#nin.form-control(type='text' name='nin' placeholder='CM86DDNCVKZFP8MD' maxlength='20')
                            .mb-3.col-md-4.input-field
                                label.form-label(for='role') Organization
                                input#organization.form-control(type='text' name='role' placeholder='Farmer One')

                            .mb-3.col-md-4.input-field
                                label.form-label(for='address') Address
                                input#address.form-control(type='text' name='address' placeholder='Address')
                            .mb-3.col-md-4.input-field
                                label.form-label(for='district') District
                                input#district.form-control(type='text' name='district' placeholder='Kampala')

                            .mb-3.col-md-4.input-field
                                label.form-label(for='country') Ward
                                select#country.select2.form-select
                                    option(value='') Select
                                    option(value='South Ward') South Ward
                                    option(value='North') North Ward
                                    option(value='East') East Ward
                                    option(value='West') West Ward
                            .mb-3.col-md-4.input-field
                                label.form-label(for='DOB') Date of Residence
                                input#dob.form-control(type='date' name='dob')
                            .mb-3.col-md-4.input-field
                                label.form-label(for='activity') Type of Residence
                                select#activity.select2.form-select
                                    option(value='poultry') Permanent
                                    option(value='dairy') Temporary
                            .mb-3.col-md-4.input-field
                                label.form-label(for='activity') Activity
                                select#activity.select2.form-select
                                    option(value='') Select Activity
                                    option(value='poultry') Poultry
                                    option(value='dairy') Dairy
                                    option(value='horticulture') Horticulture
                            .mb-3.col-md-4.input-field
                                label.form-label(for='DOB') Date of Registration
                                input#dob.form-control(type='date' name='dob')
                        .mt-2
                            button.btn.btn-success.me-2(type='submit')
                                | Save changes
                            button.btn.btn-outline-danger(type='reset') Cancel